.courses.custom-select {
  width: 150px !important;
  height: 50px;
}
.filter {
  display: flex;
  margin-right: px;
}
@media screen and (max-width: 1160px) {
  .listEnseignant {
    display: flex;
    margin-left: 5px;
  }
  .majorlevel {
    display: flex;
    margin-left: -25px;
    margin-right: 22px;
  }
}

@media screen and (max-width: 860px) {
  .listEnseignant {
    display: flex;
    margin-right: 5px;
  }
  .majorlevel {
    display: flex;
    margin-left: -25px;
    margin-right: 22px;
  }
}

@media screen and (max-width: 812px) {
  .listEnseignant {
    display: flex;
    margin-right: -5px;
  }
  .majorlevel {
    display: flex;
    margin-left: -35px;
    margin-right: 38px;
  }
}
