
      
       .addbtn{
       background-color: #692E5F !important;
       color: white !important; 
       border-radius: 20px !important;
       }
       
       .courses.custom-select {
              height:50px;
       }
       .select .major{
              margin-left: 25px;
       }
       .module .courses .custom-select {
              width: 180px ;
       }
       @media screen and (max-width: 997) {
              .select .major{
                     margin-left: 0px;
              }
              
       }
       @media screen and (max-width: 768px) {
              .select .major{
                     margin-left: 0px;
              }
              
       }